<div class="component-wrapper"
     *ngIf="!isLoading">

  <!-- Учетные данные -->
  <span>Учетные данные</span>
  <div class="source-category">
    <div class="source-category_item">
      <mat-form-field appearance="standard">
        <mat-label>Аккаунт</mat-label>
        <mat-select [(ngModel)]="sourceMetadata.selectedSummaryId"
                    (selectionChange)="onSummaryChange($event)">
          <mat-option *ngFor="let summary of summaries"
                      [value]="summary.id">{{ summary.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="source-category_item">
      <mat-form-field appearance="standard">
        <mat-label>Property</mat-label>
        <mat-select [(ngModel)]="sourceMetadata.selectedPropertyId"
                    [disabled]="!sourceMetadata.selectedSummaryId"
                    (selectionChange)="onPropertyChange()">
          <mat-option *ngFor="let property of properties"
                      [value]="property.id">{{ property.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="source-category_item">
      <mat-form-field appearance="standard">
        <mat-label>Представление</mat-label>
        <mat-select [(ngModel)]="sourceMetadata.selectedProfileId"
                    [disabled]="!sourceMetadata.selectedPropertyId"
                    (selectionChange)="onProfileChange()">
          <mat-option *ngFor="let profile of profiles"
                      [value]="profile.id">{{ profile.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-divider style="padding-bottom: 1em;"></mat-divider>

  <!-- Даты -->
  <span>Дата</span>
  <div class="source-category">
    <div class="source-category_item">
      <mat-form-field appearance="standard">
        <mat-label>Выбор даты</mat-label>
        <mat-date-range-input [rangePicker]="picker"
                              [formGroup]="datesRange">
          <input matStartDate
                 [(ngModel)]="sourceMetadata.startDate"
                 formControlName="start"
                 placeholder="Начало" />
          <input matEndDate
                 [(ngModel)]="sourceMetadata.endDate"
                 formControlName="end"
                 placeholder="Конец" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="
                  datesRange.controls.start.hasError('matStartDateInvalid')
                ">Invalid start date</mat-error>
        <mat-error *ngIf="datesRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-divider style="padding-bottom: 1em;"></mat-divider>

  <!-- Метрики -->
  <span>Метрики</span>
  <div class="source-category">
    <div class="source-category_item">
      <div class="source-category_item__metricSelect">
        <ng-select2 [allowClear]="true"
                    [options]="s2_options"
                    [data]="gaMetrics"
                    [placeholder]="'Выбор метрики'"
                    [(ngModel)]="sourceMetadata.selectedMetricIds">
        </ng-select2>
      </div>
    </div>

    <div class="source-category_item">
      <div class="source-category_item__metricSelect">
        <ng-select2 [allowClear]="true"
                    [options]="s2_options"
                    [data]="gaDimensions"
                    [placeholder]="'Выбор измерения'"
                    [(ngModel)]="sourceMetadata.selectedDimensionIds"
                    (valueChanged)="onDimensionsChange($event)">
        </ng-select2>
      </div>
    </div>

    <div class="source-category_item">
      <div class="source-category_item__metricSelect">
        <mat-checkbox color="primary"
                      [(ngModel)]="splitByDay"
                      (change)="onSplitByDayChange($event)">
          Разбить по дням
        </mat-checkbox>
      </div>
    </div>
  </div>

  <div style="padding-top: 2em;">
    <button mat-raised-button
            color="accent"
            (click)="processData()">
      Получить данные
    </button>
  </div>
</div>