<div class="wrapper">
  <h2>Источники</h2>
  <div *ngIf="!isLoading">
    <button
      mat-raised-button
      color="accent"
      class="clients-wrapper-btn"
      (click)="add()"
    >
      <mat-icon aria-hidden="false" aria-label="delete">add</mat-icon>
      добавить
    </button>
    <div class="sources-list">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let source of model"
          (afterExpand)="afterExpand(source.id)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ source.name }}
            </mat-panel-title>
            <mat-panel-description> {{ source.type }} </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <button mat-raised-button color="warn" (click)="delete(source.id)">
              <mat-icon aria-hidden="false" aria-label="delete"
                >delete</mat-icon
              >
            </button>

            <div *ngIf="isVisible(source.id)">
              <sm-ga-source *ngIf="source.type == SMReportType.Ga">
              </sm-ga-source>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<sm-loader></sm-loader>
