<div>
    <div *ngFor="let filter of model"
         class="filter-wrapper">
        <div class="filter-wrapper_item">
            <mat-form-field>
                <mat-label>Фильтр</mat-label>
                <mat-select [(ngModel)]="filter.name">
                    <mat-option *ngFor="let option of options"
                                [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-wrapper_item">
            <mat-form-field>
                <mat-label>Оператор</mat-label>
                <mat-select [(ngModel)]="filter.operator">
                    <mat-option *ngFor="let operator of operatorKeys"
                                [value]="operator">
                        {{operator}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter-wrapper_item">
            <mat-form-field>
                <mat-label>Текст</mat-label>
                <input type="text"
                       matInput
                       [(ngModel)]="filter.values">
            </mat-form-field>
        </div>
        <div class="filter-wrapper_item">
            <button mat-button color="warn" (click)="removeFilter(filter)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </div>
    </div>
    <button mat-raised-button
            (click)="addFilter()">Добавить</button>
</div>