html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sm-container {
	padding-top: 3em;
	display: flex;
}

.clickable {
	cursor: pointer;
}

.grid {
	display: grid;
}

.mat-secondary {
	//color: $secondary !important;
}

.sm-snack-bar {
	background-color: #673ab7;
}

.sm-snack-bar-error {
	background-color: crimson;
}

.wrapper {
	padding: 3em;
}

.component-wrapper {
	padding-top: 2em;
}
